[Unit]
Description=Darkphish authorized security-awareness platform
After=network.target
[Service]
Type=simple
WorkingDirectory=/home/{{ darkphish_user }}/darkphish_deploy/
ExecStart="/home/{{ darkphish_user }}/darkphish_deploy/darkphish"
User={{ darkphish_user }}
PIDFile="/home/{{ darkphish_user }}/darkphish_deploy/darkphish.pid"
[Install]
WantedBy=multi-user.target
