{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">
        Dashboard
    </h1>
    <p><button type="button" id="analyticsRefresh" class="btn btn-default"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh analytics</button></p>
    {{template "license_warning" .}}
    <div id="loading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
    {{template "flashes" .Flashes}}
    <div id="emptyMessage" style="display:none;">
        <div class="alert alert-info">
            No campaigns created yet. Let's create one!
        </div>
    </div>
    <div id="dashboard" style="display:none;">
        <section aria-labelledby="analyticsOverviewTitle">
            <h2 id="analyticsOverviewTitle">Operational Overview</h2>
            <div class="row" id="analyticsKpis">
                <div class="col-lg-2 col-md-4 col-sm-6"><div class="well text-center"><strong id="kpiCampaigns">0</strong><div>Campaigns</div></div></div>
                <div class="col-lg-2 col-md-4 col-sm-6"><div class="well text-center"><strong id="kpiRecipients">0</strong><div>Recipients</div></div></div>
                <div class="col-lg-2 col-md-4 col-sm-6"><div class="well text-center"><strong id="kpiSentRate">0%</strong><div>Sent</div></div></div>
                <div class="col-lg-2 col-md-4 col-sm-6"><div class="well text-center"><strong id="kpiOpenRate">0%</strong><div>Opened</div></div></div>
                <div class="col-lg-2 col-md-4 col-sm-6"><div class="well text-center"><strong id="kpiClickRate">0%</strong><div>Clicked</div></div></div>
                <div class="col-lg-2 col-md-4 col-sm-6"><div class="well text-center"><strong id="kpiReportRate">0%</strong><div>Reported</div></div></div>
            </div>
        </section>
        <section aria-labelledby="engagementTrendTitle">
            <h2 id="engagementTrendTitle">Engagement Trend</h2>
            <div class="row">
                <div id="overview_chart" style="height:200px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
            </div>
        </section>
        <section aria-labelledby="aggregateOutcomesTitle">
        <h2 id="aggregateOutcomesTitle">Aggregate Outcomes</h2>
        <div class="row">
            <div style="height:200px;" class="col-lg-1 col-md-1"></div>
            <div id="sent_chart" style="height:200px;" class="col-lg-2 col-md-2"></div>
            <div id="opened_chart" style="height:200px;" class="col-lg-2 col-md-2"></div>
            <div id="clicked_chart" style="height:200px;" class="col-lg-2 col-md-2"></div>
            <div id="submitted_data_chart" style="height:200px;" class="col-lg-2 col-md-2"></div>
            <div id="email_reported_chart" style="height:200px;" class="col-lg-2 col-md-2"></div>
            <div style="height:200px;" class="col-lg-1 col-md-1"></div>
        </div>
        </section>
        <div class="row">
            <h2>Recent Campaigns</h2>
        </div>
        <div class="row">
            <a href="/campaigns">
                <button type="button" class="btn btn-primary">View All</button>
            </a>
        </div>
        &nbsp;&nbsp;
        <div class="row">
            <table id="campaignTable" class="table">
                <thead>
                    <tr>
                        <th class="col-md-2 col-sm-2">Name</th>
                        <th class="col-md-2 col-sm-2">Created Date</th>
                        <th class="col-md-1 col-sm-1">
                            <i class="fa fa-envelope-o"></i>
                        </th>
                        <th class="col-md-1 col-sm-1">
                            <i class="fa fa-envelope-open-o"></i>
                        </th>
                        <th class="col-md-1 col-sm-1">
                            <i class="fa fa-mouse-pointer"></i>
                        </th>
                        <th class="col-md-1 col-sm-1">
                            <i class="fa fa-exclamation-circle"></i>
                        </th>
                        <th class="col-md-1 col-sm-1">
                            <i class="fa fa-bullhorn"></i>
                        </th>
                        <th class="col-md-1 col-sm-1">Status</th>
                        <th class="col-md-2 col-sm-2 no-sort"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{{end}} {{define "scripts"}}
<script src="/js/dist/app/dashboard.min.js"></script>
<script src="/js/src/app/dashboard_overview.js?v={{.Version}}"></script>
{{end}}
